.app {
    padding-left: 0.5em;
}

.playing-now {
    padding-left: 2em;
}

.playing-now .player input {
    font-size: 2em;
}

.player-tbd {
    font-size: 2em;
}

.playing-now .vs {
    padding-left: 4em;
    font-size: 2em;
    font-style: italic;
    font-weight: bold;
}

.delete-player {
    color: red;
    cursor: pointer;
    padding-right: 0.1em;
}

.player .delete-player {
    font-size: 2em;
}

.move-player {
    color: green;
    cursor: pointer;
    padding-right: 0.1em;
}

.player .move-player {
    font-size: 2em;
}

.reset-button {
    font-size: 1em;
    color: white;
    background-color: red;
}
